body {
  background-color: black;
}

#stopwatch {
  margin: 0 auto;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: times;
  color: white;
}


.buttons {
  height: 70px;
  border: 1px solid;
  text-align: center;
}
#start, #log{
  margin: 0 10px;
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 30px;
  display: inline-block;
  font-size: 25px;
  border: none;
  text-align: center;
}
#start {

  background-color: #4CAF50;
}

#log {
  background-color: silver;
}

#timelog {
  font-size: 30px;
  text-align: center;
  color:white;
}
